name: Run Preprocessing Automatically

on:
  push:
    paths:
      - "namadataset_preprocessing/StudentsPerformance_preprocessed.csv"
      - "preprocessing/automate_eva.py"

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pandas scikit-learn matplotlib seaborn

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_eva.py

      - name: Upload processed dataset
        uses: actions/upload-artifact@v4
        with:
          name: StudentsPerformance_preprocessed
          path: preprocessing/namadataset_preprocessing/StudentsPerformance_preprocessed.csv
